* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.navbar {
    background: #fff;
    padding: 20px 0;
    box-shadow: 2px -4px 13px 0px #000;
}


.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}


.logo-container {
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.menu-box {
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background: #f4f4f4;
    width: 50%;
}


.brand-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
}

.menu a:hover {
    color: #6c5ce7;
}
.form {
    box-shadow: 0 0 20px 2px #1a171780;
    width: 64%;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 6px;
  }
  .form input,
  .form textarea {
    width: 98%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbbbb;
    margin-bottom: 25px;
  }
  .form input[type="submit"] {
    width: 30%;
    border-radius: 10px;
  }

.contact-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid black;
}


.contact-form button:hover {
  background-color: white;
  color: red;
  border-color: red;
  transform: scale(1.1);
}

  #map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text-center{
  margin-top: 10px;
text-align: center;
}
.footer {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    font-weight: bold;
}
